{% extends 'base.html' %}

{% block content %}
<div class="column">
    <form method="post" enctype="multipart/form-data">
        <div class="box">
            <form method="post">
                <h2 class="title">Update area</h2>
    
                {% csrf_token %}
    
                {{ form.non_field_errors }}
    
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                {% endfor %}
    
                {% for field in form.visible_fields %}
                    <div class="field">
                        <label class="label">{{ field.label_tag }}</label>
                        <div class="control">
                            {{ field }}
                        </div>
                        <p class="help">{{ field.errors }}</p>
                        <p class="help">{{ field.help_text }}</p>
                    </div>
                {% endfor %}
    
                <input class="button" type="submit" value="Update Profile">
            </form>
        </div>
    
    
    </form>
</div>
{% endblock %}